* {
  margin: 0;
  padding: 0;
}
body{
  font-family: "Poppins", sans-serif !important;
}
body::-webkit-scrollbar {
  display: none;
}
#file-input{
  color: transparent;
}
input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }
      input[type='file']::after {
        content: 'Select Profile Image';
        margin-right: 30px;
        color: black;
      
      }
.chatBox::-webkit-scrollbar{
  display: none !important;
}
.messgageBox::-webkit-scrollbar{
  display: none !important;
}
.swiper-slide-shadow{
  background: none !important;
}